.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1em 20em;
	background-color: var(--preto);
}

.link {
	color: var(--branco);
	font-size: 18px;
	font-weight: 400;
	padding: 1em;
	text-decoration: none;
}
